*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: linear-gradient(
        rgba(183, 138, 255, 0.7),
        rgba(183, 138, 255, 0.7)),
        url(img/fondo.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 40vh;
        display: flex;
        align-items: center;
}

.menu{
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: rgb(0, 0, 0);
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: blueviolet;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    text-align: center;
}

.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 0 250px ;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: rgb(211, 164, 255);
    color: rgb(0, 0, 0);
    text-transform: uppercase;

}

.btn-1:hover {
    background-color: blueviolet;
}

.comida{
    padding: 100px 0;
    background-color:rgb(237, 220, 253);
    position: relative;
}

.comida-content h2{
    font-size: 55px;
    line-height: 70px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
    font-family: cursive;

}

.txt-p{
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 0 250px;
    margin-bottom: 35px;
}

.comida-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

img{
    width: 400px;
    height: auto;
}

.comida.comida{
    text-align: center;
}

comida-2 img{
    width: 300px;
}

.comida-content h3{
    font-size: 55px;
    line-height: 70px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
    font-family: cursive;
}

.txt-p{
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 0 250px;
    margin-bottom: 35px;
}

.video-container{
    display: grid;
    grid-template-columns: 3fr 3fr;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(200, 141, 255);
}

video {
  margin-bottom: 20px;
  border: 5px solid #000000;
}